.header .header-content {
    position: relative;
    width: 100%;
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
}
.header .logo-name {
    height: 80px;
    display: flex;
}
.header .logo {
    width: 40px;
    height: 40px;
}
.header .name {
    position: relative;
    margin-left: 5px;
    letter-spacing: 2.5px;
}
.header .name a {
    text-transform: uppercase;
    color: var(--text-color-def);
}
.header .navbar {
    position: relative;
    width: 100%;
    height: 100%;
}
.header .navbar a {
    padding: 5px;
    margin-left: 5px;
    font-size: 12px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: var(--text-color-def);
    transition: color .5s;
}
.header .navbar a:hover {
    color: var(--text-color-onn);
}

/*PAGS*/
#home .me {display: block; margin-top: 5em;}
#home .me div {float: right;}
#home .me div h1 {color: var(--cl-alt);}
#home .me div h1:nth-child(1) {
    text-align: end; 
    font-size: 32px;
    text-transform: uppercase;
}
#home .me div h1:nth-child(2) {
    text-align: end; 
    font-size: 2.5em; 
    font-weight: 900;
    text-transform: uppercase;
}
#home .me div p {text-align: end;}
#home .me div button {
    width: 140px;
    padding: 10px;
    outline: none;
    border: 1px solid var(--cl-alt);
    border-radius: 12px;
    margin-top: 5em;
    cursor: pointer;
}
#home .me div button:nth-child(4) {
    color: var(--cl-alt);
    background: var(--bg-def);
    letter-spacing: ;
}
#home .me div button:nth-child(5) {
    color: var(--cl-alt);
}
#home .me div p {
    color: var(--cl-alt); 
    letter-spacing: 7.5px;
    text-transform: capitalize;
}

#home .sc-links div {float: right;}
#home .sc-links div span {margin-left: 20px; cursor: pointer;}
#home .sc-links div span i {color: #37373D;}
#home .sc-links div span:hover i {color: var(--cl-alt);}