:root {
    /* background */
    --back-color-def: #000000;
    --back-color-alt: #C1C1C1;
    --back-color-aux: #FFFFFF;

    --back-color-off: #005D63;
    --back-color-onn: #008000;

    /* color text */
    --text-color-def: #FFFFFF;
    --text-color-alt: #C1C1C1;
    --text-color-aux: #000000;

    --text-color-off: #005D63;
    --text-color-onn: #008000;

    /* variable folio */
    --box-width: 300px;
    --box-height: 300px;
    --box-transtion-easing: ease;
    --box-transition-duration: 800ms;
    --box-center-width: 400px;
    --box-center-height: 400px;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: var(--back-color-def);
}

.header {
    position: fixed;
    width: 100%;
    height: 80px;
    z-index: 999;
    background: rgba(0, 0, 0, .5);
    backdrop-filter: blur(15px);
}
.sections {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}
.sections .section {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 20px;
} 
.sections .section:nth-child(1) { z-index: 1; display: block; }
.sections .section:nth-child(2) { z-index: 1; display: none; }
.sections .section:nth-child(3) { z-index: 1; display: none; }
.sections .section:nth-child(4) { z-index: 1; display: none; }
.sections .section:nth-child(5) { z-index: 999; display: none;  position: fixed;}


.pageTitle {
    position: relative; 
    width: 100%;
    height: 80px;
    margin-bottom: 80px;
}

.pageTitle .content {
    position: relative;
    width: 100%;
    height: 100%;
}
.pageTitle .content h1 {
    text-align: center;
    font-size: 14pt;
    margin-top: 8px;
    font-weight: 900;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: var(--text-color-onn);
}

.about .pageTitle .content h1::before {
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: .2;
    font-size: 36pt;
    content: 'sobre';
    font-weight: 900;
    color: var(--text-color-alt);
    transform: translate(-50%, -50%);
    z-index: -1;
}
.servics .pageTitle .content h1::before {
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: .2;
    font-size: 36pt;
    content: 'serviços';
    font-weight: 900;
    color: var(--text-color-alt);
    transform: translate(-50%, -50%);
    z-index: -1;
}
.folio {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: var(--back-color-def);
    z-index: 999;
}

/* classes custom */
.space-start {
    display: flex;
    justify-content: start;
    align-items: center;
}
.space-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.space-end {
    display: flex;
    justify-content: end;
    align-items: center;
}
.space-around {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.onn { color: var(--text-color-onn); }