:root {

    /* background */
    --bg-def: #000;

    /* color text */
    --cl-def: #DDD;
    --cl-alt: #FFF;
    --cl-aux: #000;
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: var(--bg-def);
}

.grid{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}
.grid .grid-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 50px;
    justify-content: space-between;
}
.grid:nth-child(1){
}
.grid:nth-child(2){
    display: none;
}
.grid:nth-child(3){
    display: none;
}