:root {
    /* background */
    --back-color-def: #000000;
    --back-color-alt: #005D63;
    --back-color-aux: #FFFFFF;

    --back-color-off: #005D63;
    --back-color-onn: #008000;

    /* color text */
    --text-color-def: #FFFFFF;
    --text-color-alt: #005D63;
    --text-color-aux: #000000;

    --text-color-off: #005D63;
    --text-color-onn: #008000;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: var(--back-color-def);
}

.header {
    position: fixed;
    width: 100%;
    height: 80px;
    z-index: 999;
    background: rgba(0, 0, 0, .5);
    backdrop-filter: blur(15px);
}
.sections {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}
.sections .section {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 20px;
} 

/* classes custom */
.space-start {
    display: flex;
    justify-content: start;
    align-items: center;
}
.space-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.space-end {
    display: flex;
    justify-content: end;
    align-items: center;
}
.space-around {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}









.grid{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}
.grid .grid-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 50px;
    justify-content: space-between;
}
.grid:nth-child(1){
    display: block;
}
.grid:nth-child(2){
    display: none;
}
.grid:nth-child(3){
    display: none;
}